/* Base Application Styles */
html, body {
    width: 100%;
    height: 100%;
    background-color: #222;
}

/* stage --start */
.content {
    position: relative;

    width: 100%;
    height: 680px;
}

/* stage -- end */

/* image -- start */
.img-sec {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: #ddd;
}
/* image -- end */

/* controller -- start */

/* controller -- end */
